@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="row">
        <div class="card-columns">
            @foreach (var item in Model.Catalog.All())
            {
                <div class="card anim-fade-in" style="width: 18rem;">
                    <img class="card-img-top anim-fade-in" style="height: 162px" src="https://picsum.photos/288/162?@item.Name" alt="@item.Name.">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <form method="post" action="/Cart">
                            @Html.AntiForgeryToken()

                            <input type="hidden" name="ItemId" value="@item.Id" />
                            <div class="row">
                                <div class="col-6">
                                    <input type="number" class="form-control" name="Quantity" min="1" max="99" value="1" />
                                </div>
                                <div class="col-6 text-right">
                                    <input type="submit" class="btn btn-outline-primary" value="Add" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>


    </div>

@*<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Catalog.All())
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    
                </td>
            </tr>
        }
    </tbody>
</table>*@